<!--
  <ul>
    <li class="text" *ngFor="let item of (items | async)">{{ item.name }}</li>
  </ul>
-->
<section class="todoapp">
  <app-header></app-header>
  <ul class="todo-list">
    <!-- li class completed and editing -->
    <li
      [class.completed]="task.completed"
      *ngFor="let task of (tasks | async); let i = index"
      [attr.data-index]="i"
    >
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          [checked]="task.completed"
          (click)="toggleCompleted(task)"
        />
        <label>{{ task.name }}</label> <button class="destroy" (click)="delete(task)"></button>
      </div>
      <input class="edit" value="Rule the web" />
    </li>
  </ul>

  <router-outlet></router-outlet>
</section>
