<section class="todoapp">
  <app-header></app-header>
  <ul class="todo-list">
    <li
      [class.completed]="task.completed"
      [class.editing]="task.editing"
      *ngFor="let task of (tasks | async); let i = index"
      [attr.data-index]="i"
    >
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          [checked]="task.completed"
          (click)="toggleCompleted(task)"
        />
        <label (dblclick)="task.editing = true;">{{ task.name }}</label> <button class="destroy" (click)="delete(task)"></button>
      </div>
      <input #edit class="edit" [value]="task.name" (keyup.enter)="editTask(task, edit)"/>
    </li>
  </ul>

  <router-outlet></router-outlet>
</section>
